.recorder-time-label {
  font-size: 32pt;
  font-weight: 300
}

.pill-button {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  padding-left: 9px;
  padding-right: 9px;
}

.large-button {
  padding: 12px 12px;
}


row label.title {
  font-weight: bold;
}

row label.subtitle {
  font-size: smaller;
}